

{% extends 'base.html.twig' %}

{% block title %}Add to Cart{% endblock %}

{% block body %}
    <h1>Add to Cart</h1>

    {{ form_start(form) }}
 
        {{ form_row(form.product) }}

        <button type="submit" class="btn btn-primary">Add to Cart</button>
    {{ form_end(form) }}
{% endblock %}
