
{% extends 'base.html.twig' %}

{# templates/profile/index.html.twig #}

{% block body %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <h1>Profile</h1>
        <p>Email: {{ email }}</p>
    </body>
    </html>
{% endblock %}
